@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');



:root{
    --primary: #ff3d13;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #161823;
    --text-color-admin: rgba(76, 78, 100, 1);
    //Default layout
    --default-layout-header-height: 80px;
    --default-layout-width: 1600px;
    --default-layout-admin-width: 100vw;
    --default-layout-horizontal-spacer: 24px;
    // Search component 
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top: 9px;
    --search-button-width: 52px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--primary);
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

// SCROLLBAR
html ::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    background-color: rgba(22,24,35,.06);
    border-radius: 4px;
}

html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}

// END

button, input, [tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// CUSTOM TIPPY TOOLTIP

body {
    .tippy-box{
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 600;
    }

    .tippy-arrow{
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content{
        padding: 8px 9px;
    }

    .table {
        margin-top: 50px;
        font-size: 1.4rem !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.22);
        border-radius: 10px;
    }
}



    