.wrapper {
    background-color: #fff;
    max-width: 30%;
    width: 40rem;
    position: fixed;
    right: 0;
    z-index: 1000;
    display: block;
}

.wrapper_modal {

    .icon_close {
        margin-left: auto;
        cursor: pointer;
        padding: 1rem;
    }

    .wrapper-cartItem {
        overflow-y: scroll;
        margin-bottom: 3rem;

        .item{
            border-bottom: 1px solid black;
            margin-top: 5px;
        }

        .header-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .form-control-checkbox {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

}

.range-picker {
    background-color: #fff !important;
    max-width: 80%;
}

.range-picker > div > input::placeholder {
    color: black;
    font-weight: bold;
}

.range-picker > div > input {
    color: black;
    font-weight: bold;
}


.close {
    display: none;
}

a.disable {
    pointer-events: none !important;
    cursor: none;
    color: var(--text-color-admin) !important;
}

.icon-trash {
    cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        max-width: 100vw;
        width: 100%;
        height: 100vh;
    }
}