.policy__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 0;
    width: 22%;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
    border-radius: 20px;
}

.policy__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    width: 30%;
    font-size: 25px;
}

.policy__info {
    .policy__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
    } 

    .policy__description {
        color: var(--primary);
        font-weight: bold;
    }
}