.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid white !important;
  /* border-top-color: inherit; */
  border-bottom: 0;
  transform: translateY(50%);
  content: "";
}
.ant-divider-inner-text h4 {
  margin-top: 4px;
  background-color: rgba(0, 0, 0, 0.397);
  padding: 1.5px 5px;
  border-radius: 5px;
}
.ant-picker-range {
  padding: 12px;
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
}

.ant-picker-input > input::placeholder {
  color: black;
}

.ant-picker-input > input {
  color: black;
}
.ant-modal-title {
  color: var(--primary);
}
.rcw-title {
  color: white;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ant-picker {
      width: 30rem !important;
  }
}