.wrapper {
    margin-top: 20px;
}

.header {
    color: var(--primary);
    font-weight: bold;
    margin-left: 10px;

    &-icon {
        margin-right: 20px;
    }
}

.wrapper-content {
    margin-top: 50px;

    div {
        margin-left: 0 !important;
    }
}

.input_field {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.fields {
    margin-top: 20px;
}

.input {
    height: 38px;
    padding: 7px !important;
    width: 30rem !important;
    font-size: 1.2rem !important;
    color: black;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
}

.btn-save {
    margin-top: 5vh;
    padding: 10px !important;
    font-size: 1.2rem !important;
    background-color: var(--primary) !important;
}


@media only screen and (min-width: 480px) and (max-width: 1280px) {
    .input {
        width: 20rem !important;
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .col {
        width: 100% !important;
    }
}