.slider {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    max-height: 100vw;
    overflow: hidden;
    position: relative;

    &__banner {
        display: none;
    }

    &-item {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        inset: 0;

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }

        &__info {
            width: 58,33%;

            &__title,
            &__description {
                width: 80%;
                margin-bottom: 60px;
            }

            &__title {
                font-weight: 600;
                font-size: 4.5rem;
                line-height: 6.75rem;
                overflow: hidden;
            }

            &__description {
                font-size: 1.5rem;
                line-height: 2.25rem;
                overflow: hidden;
            }

            &__btn {
                overflow: hidden;
            }

            &__title > span,
            &__description > span,
            &__btn button {
                display: block;
                transform: translateY(-100%);
                transition: transform 0.5s ease;
            }
        }

        &.active &__info {
            &__title > span,
            &__description > span,
            &__btn button {
                transform: translateY(0);
            }
        }

        &__image {
            
            img {
                bottom: 0;
                right: 0;
                transform: scale(0) rotate(65deg);
                transition: transform 0.5s
                    cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }

        &.active &__image > img {
            transform: scale(1) rotate(0);
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);

        .index {
            font-size: 2rem;
            padding: 0 10px;
        }

        &__icon {
            cursor: pointer;
        }
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px){
    .slider {
        display: none;

        &__banner {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
}