.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    
    object-fit: cover;
    img {
        width: 80px;
        height: 80px;
    }
}

.user-avatar {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper{
    flex-shrink: 0;
    width: 340px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
    padding-left: 2rem;
}

.wrapper-fix {
    position: fixed;
    overflow: scroll;
    width: inherit;
    padding: 20px 0 0 0;
}

.wrapper-divider {
    line-height: 1.25;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(76, 78, 100, 0.38);
    list-style-type: none;
    margin-top: 30px;
}

.divider {
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
    text-align: center;
    border: 0px;
    line-height: normal;
    width: 100%;
    margin: 0px !important;
}

.divider::before {
    top: 7px;
    transform: none;
    width: 2rem;
    position: relative;
    width: 10%;
    border-top: thin solid rgba(76, 78, 100, 0.25);
    top: 50%;
    content: "";
    transform: translateY(50%);
    margin-right: 10px;
}

.footer {
    position: fixed;
    bottom: 30px;
    width: 332px;
    button {
        display: flex;
        margin-top: 20px;
        align-items: center;
        padding: 8px;
        font-size: 1.8rem;
        border-radius: 4px;
        color: var(--text-color-admin);
        transition: background-color ease-in-out 200ms;
    }
    :hover {
        color: var(--primary);
    }
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        max-width: 100vw;
        width: 50px;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }
    .wrapper-fix {
        overflow: hidden;
        position: unset;
    }
    .header {
        margin-top: 20px;
        width: 50px;
        justify-content: center;
    }
    
    .logo {
        display: flex;
        
        object-fit: cover;
        img {
            width: 30px;
            height: 30px;
        }
    }
    
    .user-avatar {
        display: none;
    }

    .footer {
        position: unset;
        bottom: 30px;
        width: 332px;
        button {
            justify-content: unset;
            :nth-child(2) {
                display: none;
            }
        }
    }
    .wrapper-divider {
        display: none;
    }

}
